extends layout.pug

block body
    .issue-tag
        = "[" + issue.ShortProjectID + "-" + ("0000" + issue.ID).slice(-4) + "] ("
        if issue.IsClosed
            span.issue-closed-marker Closed
        else
            span.issue-opened-marker Open
        | ) 
        if issue.AssigneeID === null
            span.assigneetext No assignee
        else
            span.assigneetext="Assignee: " + issue.FullName
    h2.issue-name=issue.IssueName
    hr
    .taglist
        each tag in tags
            span.tag
                = "#" + tag.TagText + " "
                a(href="/tag/" + tag.ID + "/remove") &times; 
    .underpanel
        if req.user.isadmin || issue.AssigneeID === req.user.id
            if issue.IsClosed
                a(href="/issue/" + issue.ID + "/open") open
            else
                a(href="/issue/" + issue.ID + "/close") close
            |  
        if req.user.isadmin
            a(href="/issue/" + issue.ID + "/delete/areyousure") delete issue
        br
    if req.user.id !== -1
        form(action="/issue/" + issue.ID + "/assign",method="GET")
            fieldset
                legend Assign
                select(name="userid")
                    option(value="-1") Unassign
                    each user in users
                        option(value=user.ID)=user.FullName
                input(type="submit",value="Assign")
        br
    if req.user.isadmin || posts[0].AuthorID === req.user.id
        form(action="/issue/" + issue.ID + "/addtag",method="GET")
            fieldset
                legend Add tag
                input(type="text",name="tagtext",placeholder="Tag name")
                input(type="submit",value="Add")
        br
        form(action="/issue/" + issue.ID + "/changetitle",method="GET")
            fieldset
                legend Change title
                input(type="text",name="newtitle",placeholder="New title")
                input(type="submit", value="Change")
    ul.postlist
        each post in posts
            li.entry
                .username=post.FullName
                .date=post.DateOfCreation
                if post.DateOfEdit !== null
                    .date="Edited on " + post.DateOfEdit
                if req.user.id == post.AuthorID
                    .underpanel
                        a(href="/post/" + post.ID + "/edit") edit
                !=parseMarkdown(post.ContainedText)
        if req.user.id != -1
            li.entry
                form(action="/issue/" + issue.ID, method="POST",enctype="application/x-www-form-urlencoded")
                    .username=req.user.fullname
                    .date=new Date()
                    textarea.submit-text(name="text",placeholder="Post contents (Markdown)")
                    br
                    input.submitpost(type="submit",style="float: right",value="Post")