doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title PBug
        block css
            link(rel="stylesheet",href=vroot+"static/global.css")
    body
        header.flex-container
            .inner-element
                .helper
                    nav
                        a(href=vroot+"",style="display:inline-block")
                            .helper
                                img.logo(src=vroot+"logo",width="32",height="32")
                            | 
                        |  | 
                        a(href=vroot+"issues") Issues
                        |  | 
                        if req.user.id == -1
                            if typeof req.query.redirect !== typeof undefined
                                a(href=vroot+"login?"+qs.stringify({redirect:req.query.redirect})) Login
                            else
                                a(href=vroot+"login?"+qs.stringify({redirect:req.path})) Login
                            if config.login.allowregistration != "closed"
                                |  | 
                                if typeof req.query.redirect !== typeof undefined
                                    a(href=vroot+"register?"+qs.stringify({redirect:req.query.redirect})) Register
                                else
                                    a(href=vroot+"register?"+qs.stringify({redirect:req.path})) Register
                        else
                            a(href=vroot+"issues/create") New Issue
                            |  | 
                            a(href=vroot+"kb/create") New Info Page
                            |  | 
                            a(href=vroot+"logout?"+qs.stringify({redirect:req.path})) Log out
                        |  | 
        .page-main
            block body
            block scripts
                script(src="https://code.jquery.com/jquery-3.3.1.min.js")