extends ../layout

block body
    .issue-tag="/"+req.params.path
    form(action=vroot+"kb/edit/"+req.params.path,method="POST",enctype="application/x-www-form-urlencoded")
        input.h2.blueunderline.issue-name(type="text",name="newtitle",value=infopage.pagename,style="width:100%")
        input.taglist(type="text",name="newtags",id="taglist",value=infopage.pagetags,onkeypress="return event.keyCode != 13;")
        br
        .entry
            textarea.submit-text(name="newtext")=infopage.containedtext
        label(for="secrecychooser") Secrecy: 
        input.blueunderline#secrecychoose(type="number",min="0",max=getMaxSecrecy(req.user.permissions),name="secrecy",value=infopage.secrecy)
        input.submitpost(type="submit", value="Repost",style="float:right")
append css
    link(rel="stylesheet",href=vroot+"static/jquery.tag-editor.css")
append scripts
    script(src=vroot+"static/jquery.tag-editor.min.js")
    script.
        $("#taglist").tagEditor({placeholder:"Issue tags"});
        $(document).on("keypress", ".tag-editor", function(event) {
            return event.keyCode != 13;
        });
