extends ../layout
block body
    h2 Editing comment
    form(action=vroot+"kb/editpost/"+post.id,method="POST",enctype="application/x-www-form-urlencoded")
        .entry
            .username=post.authorid === null ? "Anonymous" : post.fullname
            .date=mkdate(post.dateofcreation)
            if post.dateofedit !== null
                .date="Edited on " + mkdate(post.dateofedit)
            textarea.submit-text(name="newtext")=post.containedtext
        input.submitpost(type="submit", value="Repost",style="float:right")
