extends ../layout
block body
    h2 Editing comment
    form(action=vroot+"kb/post/" + post.id +"/edit",method="POST",enctype="application/x-www-form-urlencoded")
        .entry
            .username=post.fullname
            .date=post.dateofcreation
            if post.dateofedit !== null
                .date="Edited on " + post.dateofedit
            textarea.submit-text(name="newtext")=post.containedtext
        input.submitpost(type="submit", value="Repost",style="float:right")