extends ../layout.pug

append css
    link(rel="stylesheet",href=vroot+"static/highlightstyles/default.css")

block body
    .issue-tag
        .date="Authored by " + (infopage.authorid === null ? "Anonymous" : infopage.fullname) + " on " + mkdate(infopage.dateofcreation)
        .date="Edited on " + mkdate(infopage.dateofedit)
    h2.issue-name=infopage.pagename
    hr
    .underpanel
        a(href=vroot+"kb/"+infopage.id+"/talk") talk
        if provePermission(req.user.permissions, "kb.edit")
            =" | "
            a(href=vroot+"kb/"+infopage.id+"/edit") edit
        if provePermission(req.user.permissions, "kb.delete")
            =" | "
            a(href=vroot+"kb/"+infopage.id+"/delete") delete
    .taglist
        if infopage.pagetags.length > 1
            each tag in infopage.pagetags.split(",")
                span.tag
                    = "#" + tag + " "
    .entry
        !=parseMarkdown(infopage.containedtext)
