extends ../layout.pug

append css
    link(rel="stylesheet",href=vroot+"static/highlightstyles/default.css")

block body
    .issue-tag
        .date="Authored by " + infopage.fullname + " on " + infopage.dateofcreation
        .date="Edited on " + infopage.dateofedit
    h2.issue-name=infopage.pagename
    hr
    .underpanel
        a(href=vroot+"kb/"+infopage.id) view
        =" | "
        a(href=vroot+"kb/"+infopage.id+"/talk") talk
        if req.user.id !== -1
            =" | "
            a(href=vroot+"kb/"+infopage.id+"/edit") edit
    .taglist
        each tag in tags
            span.tag
                = "#" + tag.tagtext + " "
                a(href=vroot+"kb/tag/" + tag.id + "/remove") &times;
        if tags.length > 0 
            br
    if req.user.isadmin || infopage.authorid === req.user.id
        form(action=vroot+"kb/" + infopage.id +"/addtag",method="GET")
            fieldset
                legend Add tag
                input(type="text",name="tagtext",placeholder="Tag name")
                input(type="submit",value="Add")
    .entry
        !=parseMarkdown(infopage.containedtext)