extends ../../layout.pug

block body
    form(action=vroot+"admin/invites/create",method="POST",type="application/x-www-form-urlencoded")
        select(name="roleid",required)
            each role in roles
                option(value=role.id.toString())= role.name
        label(for="adminbox") Role
        input.h2.submitpost(type="submit",value="Create invite",style="margin-top:10px;")
    br
    hr
    h3 Unredeemed invites
    ul.issues-list
        each invite in invites
            li
                span(style="font-family:monospace;")= invite.uid + "(" + invite.rolename + ")"
                a(href=vroot+"admin/invites/"+invite.uid+"/remove",style="display:inline; color:red;") ❌
                a.copier(href="javascript:void(0)",data-clipboard-text=req.headers.host+vroot+"useinvite?invite="+invite.uid, style="display:inline; color:blue;") 📤
append scripts
    script(src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js")
    script.
        var clip = new ClipboardJS(".copier");
        clip.on("error",function() {
            $(".copier").remove();
        });