extends ../layout.pug

block body
    form(action=vroot+"issues/create", method="POST",enctype="multipart/form-data")
        input.title-input(type="text",name="name",placeholder="Title",required)
        hr
        input.taglist(type="text",name="tags",id="taglist",onkeypress="return event.keyCode != 13;")
        br
        textarea.submit-text(name="firsttext",placeholder="Description",required)
        br
        label(for="projectchooser") Project: 
        select.blueunderline#projectchooser(name="projectid",required)
            each project in projects
                option(value=project.id.toString())= project.projectname
        |  
        label(for="assigneechooser") Assignee: 
        select.blueunderline#assigneechooser(name="assigneeid")
                    option(value="-1") Unassign
                    each user in users
                        option(value=user.id)=user.fullname
        //- |  
        //- input(type="file" multiple name="file[]")
        br
        input.submitpost(type="submit",value="Post",style="float:right")
append css
    link(rel="stylesheet",href=vroot+"static/jquery.tag-editor.css")
append scripts
    script(src=vroot+"static/jquery.tag-editor.min.js")
    script.
        $("#taglist").tagEditor({placeholder:"Issue tags"});
        $(document).on("keypress", ".tag-editor", function(event) {
            return event.keyCode != 13;
        });