extends ../layout

block body
    form(action=vroot+"issues/" + issue.id +"/edit", method="POST",enctype="multipart/form-data")
        input#filesremoved(type="hidden" name="filesremoved" value="[]")
        input.title-input(type="text",value=issue.issuename,name="newtitle",required)
        hr
        input.taglist(type="text",name="newtags",id="taglist",value=issue.issuetags,onkeypress="return event.keyCode != 13;")
        br
        textarea.submit-text(name="newdesc",placeholder="Description",required)=issue.description
        br
        label(for="projectchooser") Project: 
        select.blueunderline#projectchooser(name="newprojectid",required)
            each project in projects
                if issue.projectid == project.id
                    option(value=project.id.toString() selected)= project.projectname
                else
                    option(value=project.id.toString())= project.projectname
        |  
        label(for="assigneechooser") Assignee: 
        select.blueunderline#assigneechooser(name="newassigneeid")
                    option(value="-1") Unassign
                    each user in users
                        if issue.assigneeid == user.id
                            option(value=user.id selected)=user.fullname
                        else
                            option(value=user.id)=user.fullname
        br
        each file in files
            a(href=vroot+"file/"+file.fileid data-uid=file.fileid)=file.filename
            a(onclick="removefile(this);" href="javascript:void(0)" data-uid=file.fileid) X
            br
        |  
        br
        input(type="file" multiple name="file[]")
        br
        input.submitpost(type="submit",value="Repost",style="float:right")
append css
    link(rel="stylesheet",href=vroot+"static/jquery.tag-editor.css")
append scripts
    script(src=vroot+"static/jquery.tag-editor.min.js")
    script.
        $("#taglist").tagEditor({placeholder:"Issue tags"});
        $(document).on("keypress", ".tag-editor", function(event) {
            return event.keyCode != 13;
        });
        function removefile(ev) {
            var uid = $(ev).attr("data-uid");
            var flist = JSON.parse($("#filesremoved").val());
            flist.push(uid);
            $("#filesremoved").val(JSON.stringify(flist));
            $('[data-uid="' + uid + '"]').remove();
        }
