extends ../layout
block body
    h2 Editing post
    form(action="/issues/post/" + post.id + "/edit",method="POST",enctype="application/x-www-form-urlencoded")
        if typeof issue !== "undefined"
            input.h2.blueunderline.issue-name(type="text",value=issue.issuename,name="newtitle")
            input.taglist(type="text",name="newtags",id="taglist",value=issue.issuetags,onkeypress="return event.keyCode != 13;")
        .entry
            .username=post.fullname
            .date=post.dateofcreation
            //- form(action="/issues/" + issue.id + "/addtag",method="GET")
            //- fieldset
            //-     legend Add tag
            //-     input(type="text",name="tagtext",placeholder="Tag name")
            //-     input(type="submit",value="Add")
            if post.dateofedit !== null
                .date="Edited on " + post.dateofedit
            textarea.submit-text(name="newtext")=post.containedtext
        input.submitpost(type="submit", value="Repost",style="float:right")
append css
    link(rel="stylesheet",href="/static/jquery.tag-editor.css")
append scripts
    script(src="/static/jquery.tag-editor.min.js")
    script.
        $("#taglist").tagEditor();
        $(document).on("keypress", ".tag-editor", function(event) {
            return event.keyCode != 13;
        });