extends ../layout.pug
block body
    h2=title
    ul.issues-list
        each issue in issues
            li
                a(href=vroot+"issues/" + issue.id)
                    .issue-tag
                            ="[" + issue.shortprojectid + "-" + ("0000" + issue.id).slice(-4) + "] "
                            | (
                            if issue.isclosed
                                span.issue-closed-marker Closed
                            else
                                span.issue-opened-marker Open
                            | ) 
                            if issue.assigneeid === null
                                span.assigneetext No assignee
                            else
                                span.assigneetext="Assignee: " + issue.assigneename
                    = issue.issuename
    if req.user.id !== -1
        h2 Open issues authored by you
        ul.issues-list
            each issue in aissues
                li
                    a(href=vroot+"issues/" + issue.id)
                        .issue-tag
                            ="[" + issue.shortprojectid + "-" + ("0000" + issue.id).slice(-4) + "] "
                            | (
                            if issue.isclosed
                                span.issue-closed-marker Closed
                            else
                                span.issue-opened-marker Open
                            | ) 
                            if issue.assigneeid === null
                                span.assigneetext No assignee
                            else
                                span.assigneetext="Assignee: " + issue.assigneename
                        = issue.issuename