extends ../layout.pug
block body
    .searchbox
        form(action="/issues/search", method="GET")
            input#searchbox(type="text",placeholder="Search...",name="q",value=query,class="search")
            input(type="submit",value="Search",class="submit-search")
        .links
            a(onclick="addthing('status:open')" href="javascript:void(0)") open
            | /
            a(onclick="addthing('status:closed')" href="javascript:void(0)") closed
            |  | 
            a(onclick="addthing('assignee:me')" href="javascript:void(0)") assigned to me
            |  | 
            a(onclick="addthing('author:me')" href="javascript:void(0)") created by me
            |  | 
            a(onclick="addthing('order:asc')" href="javascript:void(0)") ascending
            | /
            a(onclick="addthing('order:desc')" href="javascript:void(0)") descending
    if typeof results !== "undefined"
        ul.issues-list
            each result in results
                li
                    a(href="/issues/" + result.id)
                        .issue-tag
                            ="[" + result.shortprojectid + "-" + ("0000" + result.id).slice(-4) + "] "
                            | (
                            if result.isclosed
                                span.issue-closed-marker Closed
                            else
                                span.issue-opened-marker Open
                            | ) 
                            if result.assigneeid === null
                                span.assigneetext No assignee
                            else
                                span.assigneetext="Assignee: " + result.assigneename
                        = result.issuename
        .pagination
            if req.query.page !== 1
                a(href=paginate.href(true)) Previous
            |  
            each page in pages
                if req.query.page === page.number
                    =page.number
                else
                    a(href=page.url)=page.number
                |  
            if req.query.page !== pagec
                a(href=paginate.href(false)) Next
append scripts
    script.
        function addthing(thing) {
            if ($("#searchbox").val().indexOf(thing) === -1) {
                $("#searchbox").val($("#searchbox").val() + " " + thing);
            }
        }