extends ../layout.pug
block body
    .searchbox
        form(action="/issues/search", method="GET")
            input(type="text",placeholder="Search...",name="q",value=query,class="search")
            input(type="submit",value="Search",class="submit-search")
    if typeof results !== "undefined"
        ul.issues-list
            each result in results
                li
                    a(href="/issues/" + result.id)
                        .issue-tag
                            ="[" + result.shortprojectid + "-" + ("0000" + result.id).slice(-4) + "] "
                            | (
                            if result.isclosed
                                span.issue-closed-marker Closed
                            else
                                span.issue-opened-marker Open
                            | ) 
                            if result.assigneeid === null
                                span.assigneetext No assignee
                            else
                                span.assigneetext="Assignee: " + result.assigneename
                        = result.issuename
        .pagination
            a(href=paginate.href(true)) Previous
            |  
            each page in pages
                if req.query.page === page.number
                    =page.number
                else
                    a(href=page.url)=page.number
                |  
            a(href=paginate.href(false)) Next
            