extends ../layout.pug
include common.pug

append css
    link(rel="stylesheet",href=vroot+"static/highlightstyles/default.css")

block body
    .issue-tag
        = "[" + issue.shortprojectid + "-" + ("0000" + issue.id).slice(-4) + "] ("
        if issue.isclosed
            span.issue-closed-marker Closed
        else
            span.issue-opened-marker Open
        | ) 
        if issue.assigneeid === null
            span.assigneetext No assignee
        else
            span.assigneetext="Assignee: " + issue.fullname
        span.assigneetext(style="float:right")="Author: " + (issue.authorid === null ? "Anonymous" : issue.authorname)
    h2.issue-name=issue.issuename
    hr
    .taglist
        each tag in issue.issuetags.split(",")
            span.tag
                = "#" + tag + " "
    .underpanel
        if canopen
            if issue.isclosed
                a(href=vroot+"issues/" + issue.id +"/open") open
            else
                a(href=vroot+"issues/" + issue.id +"/close") close
            |  
        if candelete
            a(href=vroot+"issues/" + issue.id +"/delete/areyousure") delete issue
            |  
        a(href=vroot+"issues/" + issue.id +"/posts") show posts
        br
    ul.postlist
        each thing in things
            +activity(thing) 
append scripts
    script(src=vroot+"static/expandable.js")
