extends ../layout.pug

block css
    link(rel="stylesheet",href="/static/highlightstyles/default.css")

block body
    .issue-tag
        = "[" + issue.shortprojectid + "-" + ("0000" + issue.id).slice(-4) + "] ("
        if issue.isclosed
            span.issue-closed-marker Closed
        else
            span.issue-opened-marker Open
        | ) 
        if issue.assigneeid === null
            span.assigneetext No assignee
        else
            span.assigneetext="Assignee: " + issue.fullname
    h2.issue-name=issue.issuename
    hr
    .taglist
        each tag in tags
            span.tag
                = "#" + tag.tagtext + " "
                a(href="/tag/" + tag.id + "/remove") &times; 
    .underpanel
        if req.user.isadmin || issue.assigneeid === req.user.id
            if issue.isclosed
                a(href="/issues/" + issue.id + "/open") open
            else
                a(href="/issues/" + issue.id + "/close") close
            |  | 
        if req.user.isadmin
            a(href="/issues/" + issue.id + "/delete/areyousure") delete issue
            |  | 
        a(href="/issues/" + issue.id + "/activity") activity
        br
    if req.user.id !== -1
        form(action="/issues/" + issue.id + "/assign",method="GET")
            fieldset
                legend Assign
                select(name="userid")
                    option(value="-1") Unassign
                    each user in users
                        option(value=user.id)=user.fullname
                input(type="submit",value="Assign")
        br
    if req.user.isadmin || things[0].authorid === req.user.id
        form(action="/issues/" + issue.id + "/addtag",method="GET")
            fieldset
                legend Add tag
                input(type="text",name="tagtext",placeholder="Tag name")
                input(type="submit",value="Add")
        br
        form(action="/issues/" + issue.id + "/changetitle",method="GET")
            fieldset
                legend Change title
                input(type="text",name="newtitle",placeholder="New title")
                input(type="submit", value="Change")
    ul.postlist
        each thing in things
            li.entry(id=thing.id)
                .username=thing.fullname
                .date=thing.dateofcreation
                if thing.dateofedit !== null
                    .date="Edited on " + thing.dateofedit
                .underpanel
                    if req.user.id == thing.authorid
                        a(href="/issues/post/" + thing.id + "/edit") edit
                        |  
                    a(href="/issues/" + issue.id + "#" + thing.id) permalink
                    |  
                !=parseMarkdown(thing.containedtext)
        if req.user.id != -1
            li.entry
                form(action="/issues/" + issue.id, method="POST",enctype="application/x-www-form-urlencoded")
                    .username=req.user.fullname
                    .date=new Date()
                    textarea.submit-text(name="text",placeholder="Post contents (Markdown)")
                    br
                    input.submitpost(type="submit",value="Post",style="float:right")
                    br