extends ../layout.pug

append css
    link(rel="stylesheet",href=vroot+"static/highlightstyles/default.css")

block body
    .issue-tag
        = "[" + issue.shortprojectid + "-" + ("0000" + issue.id).slice(-4) + "] ("
        if issue.isclosed
            span.issue-closed-marker Closed
        else
            span.issue-opened-marker Open
        | ) 
        if issue.assigneeid === null
            span.assigneetext No assignee
        else
            span.assigneetext="Assignee: " + issue.assigneename
        |  
        span.assigneetext(style="float:right")="Author: " + (issue.authorid === null ? "Anonymous" : issue.authorname)
    h2.issue-name=issue.issuename
    hr
    .taglist
        if issue.issuetags.length > 1
            each tag in issue.issuetags.split(",")
                span.tag
                    = "#" + tag + " "
    .underpanel
        if canopen
            if issue.isclosed
                a(href=vroot+"issues/" + issue.id +"/open") open
            else
                a(href=vroot+"issues/" + issue.id + "/close") close
            |  | 
        if canedit
            a(href=vroot+"issues/" + issue.id + "/edit") edit
            |  | 
        if candelete
            a(href=vroot+"issues/" + issue.id + "/delete/areyousure") delete issue
            |  | 
        if req.user.id !== -1
            if watching
                a(href=vroot+"issues/" + issue.id + "/watch") unwatch
            else
                a(href=vroot+"issues/" + issue.id + "/watch") watch
            |  | 
        a(href=vroot+"issues/" + issue.id + "/activity") activity
        br
    p!=parseMarkdown(issue.description)
    ul
        each file in files
            a(href=vroot+"file/" + file.fileid)=file.filename
            br    
    ul.postlist
        each thing in things
            li.entry(id=thing.id)
                .username=thing.fullname === null ? "Anonymous" : thing.fullname
                .date=mkdate(thing.dateofcreation)
                if thing.dateofedit !== null
                    .date="Edited on " + mkdate(thing.dateofedit)
                .comment-underpanel
                    if (caneditownpost && thing.authorid == req.user.id) || caneditotherpost
                        a(href=vroot+"issues/post/" + thing.id +"/edit") edit
                        |  
                    a(href=vroot+"issues/" + issue.id + "#" + thing.id) permalink
                    |  
                !=parseMarkdown(thing.containedtext)
        if canpost
            li.entry
                form(action=vroot+"issues/" + issue.id, method="POST",enctype="application/x-www-form-urlencoded")
                    .username=req.user.fullname
                    .date=new Date()
                    textarea.submit-text(name="text",placeholder="Post contents (Markdown)")
                    br
                    input.submitpost(type="submit",value="Post",style="float:right")
                    br
